@import url("https://fonts.googleapis.com/css2?family=roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
body {
  box-sizing: border-box;
  @include media;
  @media (min-width: $tablet-responsive) {
    max-width: 100%;
  }
  @media (min-width: $desktop-responsive) {
    max-width: 100%;
  }
}
header {
  display: inline-block;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
  height: 60px;
  @media (min-width: $desktop-responsive) {
    max-width: 100%;
    height: 110px;
  }
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90px;
  padding-left: 15px;
  margin: 0px;
  @media (min-width: $desktop-responsive) {
    justify-content: center;
  }
}
.header a {
  display: contents;
  justify-content: flex-start;
  align-items: flex-start;
  width: 15%;
  height: 50px;
  @media (min-width: $desktop-responsive) {
    justify-content: center;
    width: 35%;
    font-size: 26px;
  }
}
.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  @include title-familly;
  @media (min-width: $desktop-responsive) {
    justify-content: center;
    width: 55%;
  }
}
a {
  text-decoration: none;
  color: black;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.menu img {
  display: flex;
  position: relative;
  z-index: -1;
  object-fit: cover;
  height: 260px;
  @media (min-width: $desktop-responsive) {
    height: 600px;
    border-radius: 15px;
  }
  @media (min-width: $tablet-responsive) {
    height: 500px;
    border-radius: 15px;
  }
}
.menu__carte {
  display: flex;
  flex-direction: column;
  margin-top: -15%;
  min-height: 80%;
  background-color: $background-menu;
  border-radius: 20px 20px 0px 0px;
  @media (min-width: $desktop-responsive) {
    display: flex;
    flex-direction: row;
  }
}
.menu__favorite {
  display: flex;
  justify-content: space-between;
  right: 30px;
  font-size: 22px;
  @media (min-width: $desktop-responsive) {
    justify-content: center;
    align-items: center;
    padding-right: 30px;
  }
  @media (min-width: $tablet-responsive) {
    justify-content: center;
    padding-right:30px;
  }
}
.fa-stack {
  display: flex;
  font-size: 24px;
  top: 15px;
  width: 24px;
  height: 24px;
  color: grey;
  cursor: pointer;

  .bgnone {
    opacity: 0;
  }
  &:hover i {
    animation: heart 600ms forwards;
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (min-width: $desktop-responsive) {
    width: 100px;
    padding-left: 30px;
  }
  @media (min-width: $tablet-responsive) {
    width: 100px;
  }
}
h1 {
  @include title-familly;
  padding-left: 15px;
}
h2 {
  @include fonttextsize;
  margin-left: 15px;
  padding-bottom: 10px;
  border-bottom: solid $color-tertiary 3px;
  width: 5%;
  margin-top: 40px;
}
.entrées {
  margin: 15px 15px 15px 15px;
  animation: apparition 1000ms forwards;
  @media (min-width: $desktop-responsive) {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
}
.plats {
  margin: 15px 15px 15px 15px;
  animation: apparition 1000ms both 1000ms;
  @media (min-width: $desktop-responsive) {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
}
.desserts {
  margin: 15px 15px 15px 15px;
  animation: apparition 1000ms both 2000ms;
  @media (min-width: $desktop-responsive) {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
}
.btn {
  display: flex;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  padding-left: 15px;
  height: 80px;
  margin-bottom: 20px;
  transform: scale(1);
  cursor: pointer;
  &:hover {
    @include box-shadow;
    transform: scale(1.03);
    transition: 350ms;
    .btn__body__favorite {
      width: 25%;
      .fa-circle-check {
        animation: rotate 1000ms forwards;
      }
    }
  }
  &__body {
    display: flex;
    width: 100%;
    &__favorite {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-tertiary;
      height: 100%;
      order: 2;
      width: 0%;
      transition: all 550ms cubic-bezier(0.47, 0.15, 0, 1);
      
    }
    .fa-circle-check {
      font-size: 24px;
      color: #fff;
    }
    &__gras {
      display: flex;
      flex-flow: column;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    h3 {
      @include text-familly;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
    }
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include menutextsize;
    }
  }
  &__price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @include text-familly;
    width: 100%;
    height: 100%;
    padding-right: 15px;
  }
}

.command {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 65px;
  @media (min-width: $desktop-responsive) {
    width: 30%;
    align-content: flex-end;
    align-items: flex-end;
    margin-bottom: 35px;
  }
}
.command a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  @include fonttextsize;
  height: 60px;
  width: 60%;
  border-radius: 30px;
  background-image: linear-gradient($color-secondary, $color-primary);
  color: white;
  transform: scale(1);
  &:hover {
    background-image: linear-gradient($color-secondary 30%, $color-primary);
    @include box-shadow;
    transform: scale(1.03);
    transition: 400ms;
  }
}
footer {
  display: flex;
  width: 100%;
}
.footer {
  width: 100%;

  background-color: #000;
  &__title {
    padding-left: 20px;
    padding-top: 20px;
    @include title-familly;
    color: white;
    font-size: 18px;
    @media (min-width: $desktop-responsive) {
      text-align: center;
      font-size: 22px;
    }
  }
  &__list {
    padding-bottom: 15px;
    padding-left: 20px;
    li {
      padding-bottom: 15px;
    }
    @media (min-width: $desktop-responsive) {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      font-size: 18px;
    }
  }
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer ul {
  list-style: none;
  padding: 0%;
  padding-bottom: 15px;
}
