@import url("https://fonts.googleapis.com/css2?family=roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./utils/variables";
@import "./utils/mixins";
* {
  box-sizing: border-box;
}
header {
  margin-top: 15px;
}
input::placeholder {
  color: black;
}
input[type="text"]:-moz-placeholder {
  color: #000;
}
input::-moz-placeholder {
  opacity: 1;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black 4px;
  height: 60px;
  @include title-familly;
  margin: 0px;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: $background-header;
  &__dot {
    display: flex;
    color: black;
    width: 25px;
  }
  &__text {
    display: flex;
    text-align: center;
    width: 120px;
    border: none;
    outline: none;
    opacity: 1;
    background-color: $background-header;
    @include fonttextsize;
    @include famillytext;
  }
}
.reserver {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 325px;
  width: 100%;
  background-color: $background-menu;
  @include famillytext;
  &__title {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 60%;
    @include under-title;
  }
  &__discover {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 70%;
  }
  &__explorer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 60%;
    background-image: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    margin-bottom: 65px;
  }
}
.reserver__explorer a {
  text-decoration: none;
  color: white;
}
ol {
  list-style: none;
  counter-reset: li;
}
li::before {
  content: counter(li);
  background-color: $color-primary;
  width: 30px;
  border-radius: 50%;
}
li {
  display: flex;
  counter-increment: li;
  height: 30px;
}

.fonctionnement {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: 10px;
  height: 440px;
  &__title {
    @include famillytext;
  }
}
.fonctionnement__list {
  display: flex;
  justify-content: space-around;
  height: 300px;
  &__list-items {
    display: flex;
    background-color: $background-menu;
    height: 80px;
  }
}
