@import url("https://fonts.googleapis.com/css2?family=roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./utils/variables";
@import "./utils/mixins";
* {
  box-sizing: border-box;
  margin: 0%;
}
.logo {
  display: flex;
  justify-content: center;
  box-shadow: black 4px;
  height: 65px;
  @include title-familly;
}
.location {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: $background-header;
  &__dot {
    display: flex;
    color: black;
    width: 50px;
    padding-top: 13px;
  }
  &__text {
    display: flex;
    padding-top: 13px;
    @include fonttextsize;
    @include famillytext;
  }
}
.reserver {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 325px;
  background-color: $background-menu;
  @include famillytext;
  &__title {
    display: flex;
    justify-content: center;
    @include under-title;
  }
  &__discover {
    display: flex;
    justify-content: center;
  }
  &__explorer {
    display: flex;
    justify-content: center;
  }
}
