@import url("https://fonts.googleapis.com/css2?family=roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
body {
  box-sizing: border-box;
  @include media;
  @media (min-width: $tablet-responsive) {
    max-width: 100%;
  }
  @media (min-width: $desktop-responsive) {
    max-width: 100%;
  }
}
header {
  margin-top: 15px;
}
input::placeholder {
  color: black;
}
input[type="text"]:-moz-placeholder {
  color: #000;
}
input::-moz-placeholder {
  opacity: 1;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: black 4px;
  height: 60px;
  @include title-familly;
  margin: 0px;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: $background-header;
  &__dot {
    justify-content: center;
    align-items: center;
    color: black;
    width: 50px;
  }
  &__text {
    display: flex;
    width: 120px;
    border: none;
    outline: none;
    opacity: 1;
    background-color: $background-header;
    @include fonttextsize;
  }
}
.reserver {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 325px;
  background-color: $background-menu;

  &__title {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 60%;
    @include under-title;
  }
  &__discover {
    display: flex;
    justify-content: center;
    text-align: center;
    @include fonttextsize;
    height: 50px;
    width: 80%;
  }
  &__explorer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2e2e2e;
    height: 60px;
    width: 60%;
    background-image: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    margin-bottom: 65px;
    &:hover {
      background-image: linear-gradient($color-secondary 30%, $color-primary);
      @include box-shadow;
      transform: scale(1.03);
      transition: 400ms;
    }
  }
}

.reserver__explorer a {
  text-decoration: none;
  @include fonttextsize;
  color: white;
  transform: scale(1);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  height: 440px;
  &__title {
    @include under-title;
  }
}
.fonctionnement__title {
  @media (min-width: $desktop-responsive) {
    align-items: center;
    text-align: center;
  }
}
.fonctionnement ul {
  list-style: none;
  padding: 0%;
}
.fonctionnement a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  background-color: #f6f6f6;
  color: #2e2e2e;
  margin-right: 15px;
  margin-left: 15px;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: #ebebeb 3px 3px 3px;
  @include text-familly;
  transform: scale(1);
  &:hover {
    background-color: $background-overflow;
    transform: scale(1.03);
    transition: 300ms;
    @include box-shadow;
    .btnIcon {
      color: $color-primary;
    }
  }
  @media (min-width: $desktop-responsive) {
    width: 50%;
  }
}
.fonctionnement li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22%;
}
.fonctionnement__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  text-align: center;
  height: 300px;
  &__items {
    height: 25%;
  }
}
.fonctionnement__items i {
  color: #7e7e7e;
}
.fonctionnement__list__order {
  position: absolute;
  font-size: 14px;
  left: -10px;
  color: #fff;
  background-color: $color-primary;
  padding-top: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.restaurants {
  background-color: $background-menu;
  padding-top: 60px;
  padding-bottom: 35px;
  height: 100%;
  @media (min-width: $tablet-responsive) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  &__title {
    @include under-title;
    padding-left: 20px;
    margin-bottom: 30px;
    width: 100%;
    @media (min-width: $desktop-responsive) {
      text-align: center;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  height: 255px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: #e9e9e9 2px 2px 2px 2px;
  transform: scale(1);
  &:hover {
    transform: scale(1.05);
    transition: 300ms;
    @include box-shadow;
  }
  &__name {
    display: flex;
    flex-direction: column;
    position: relative;
    @include familly-text;
    width: 100%;
    padding-left: 15px;
  }
  &__loc {
    justify-content: flex-start;
    @include fonttextsize;
    width: 70%;
    padding-top: 10px;
  }
  @media (min-width: $tablet-responsive) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 46%;
  }
}
.card a {
  text-decoration: none;
  color: #000;
}
.card__heart {
  display: flex;
  position: absolute;
  top: 215px;
  font-size: 24px;
  right: 55px;
  width: 50px;
  height: 50px;
  color: grey;
  cursor: pointer;

  .bgnone {
    opacity: 0;
  }
  &:hover i {
    animation: heart 600ms forwards;
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

figure {
  position: relative;
  text-decoration: none;
  width: 100%;
  margin: 0%;
  border-radius: 25px 25px;
}
.card__image {
  width: 100%;
  height: 195px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.new {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 82px;
  height: 32px;
  align-items: center;
  color: #279d80;
  border-radius: 5px 5px 5px 5px;
  background-color: $color-tertiary;
  text-decoration: none;
  @include fonttextsize;
}
footer {
  display: flex;
  width: 100%;
}
.footer {
  width: 100%;
  background-color: #000;
  &__title {
    padding-left: 20px;
    padding-top: 20px;
    @include title-familly;
    color: white;
    font-size: 18px;
    @media (min-width: $desktop-responsive) {
      text-align: center;
      font-size: 22px;
    }
  }
  &__list {
    padding-bottom: 15px;
    padding-left: 20px;
    li {
      padding-bottom: 15px;
    }
    @media (min-width: $desktop-responsive) {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      font-size: 18px;
    }
  }
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer ul {
  list-style: none;
  padding: 0%;
}
footer li {
  padding-bottom: 15px;
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      210deg,
      $color-tertiary,
      $color-primary,
      $color-secondary
    );
    z-index: 999;
    animation: loader 3s forwards;
  }
  p {
    position: absolute;
    top: 125px;
    width: 65%;
    border-radius: 50%;
    border: solid 2px;
    text-align: center;
    color: #fff;
    z-index: 999;
    font-family: shrikhand;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-size: 65px;
    animation: rotate 2500ms ease, loader 3000ms forwards;
  }
  &__dish {
    position: absolute;
    top: 300px;
    z-index: 999;
    width: 35%;
    height: 30%;
    font-size: 35px;
    animation: dish 2500ms ease, rotate 2500ms both, loader 3000ms both;
  }
}
