@mixin fonttextsize {
  font-family: roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
@mixin menutextsize {
  font-family: roboto, sans-serif;
  font-size: 14px;
}
@mixin familly-text {
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
@mixin title-familly {
  font-family: Shrikhand, sans-serif;
  font-size: 28px;
}
@mixin text-familly
 {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
}
@mixin under-title {
  font-family: roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
}
@mixin media {
  max-width: 768px;
  min-width: 365px;
}
@mixin box-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
