@mixin fonttextsize {
  font-size: 18px;
  font-weight: 300;
}
@mixin famillytext {
  font-family: roboto, sans-serif;
}
@mixin title-familly {
  font-family: Shrikhand, sans-serif;
  font-size: 33px;
}
@mixin under-title {
  font-size: 25px;
  font-weight: bold;
}
@mixin media {
  max-width: 768px;
  min-width: 365px;
}
