$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/*variables background*/

$background-header: #e1dede;
$background-menu: #f2f2f2;
$background-overflow: #e0cbe8;

/*variables responsive*/

$tablet-responsive: 768px;
$desktop-responsive: 1440px;

/*variables loader*/

$anim-duration : 1500ms;
$num-dish: 3;
$anim-delay: $anim-duration, $num-dish;
$color-dish: $color-tertiary;